span.ctx{ background-color: rgb(255, 255, 130); }
span._0 { background-color: rgb(255, 170, 170); }
span._1 { background-color: rgb(255, 200, 115); }
span._2 { background-color: rgb(150, 255, 150); }
span._3 { background-color: rgb(155, 190, 255); }
span._4 { background-color: rgb(150, 105, 160); }
pre.o2-ctx { font-size: 1.1em; }
span._xc { color: rgb(230, 255,   0); background-color: black; }
span._x0 { color: rgb(255,   0,   0); }
span._x1 { color: rgb(255, 150,   0); }
span._x2 { color: rgb(  0, 200,  10); }
span._x3 { color: rgb(  0, 140, 255); }
span._x4 { color: rgb(130,   0, 160); }
span.u0 { background-color: rgb(255, 170, 170); }
span.u1 { background-color: rgb(255, 200, 115); }
/* div#anchor + p > em { color: rgb(255, 106,  0); } */
