table {
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid silver;
    border-radius: 6px;
}

table th, table tr:not(:last-child) > td { border-bottom: 1px solid silver; }

table tr > * { padding: 0.5rem; }
