nav { // undo default ul styles
    margin-block: 1rem;

    & ul {
        list-style-type: none;
        padding-inline: 0;
        margin-block: 0;
    }

    & > p { margin-block: 0; }
}

$x: 1.2rem; // size of boxes
$y: 0.3rem; // offset to text
$a: 0.2rem; // border width

// $color: var(--c1);
$color: rgb(192, 192, 192);

nav ul > li::before {
    content: '';
    display: inline-block;
    width: $x; height: $x; // square

    margin-right: $y; // space between box and text
    margin-bottom: ($x / 2) - $a; // center with text
    border-bottom: $a solid $color; border-left: $a solid $color;
    border-bottom-left-radius: 50%;
    position: relative; z-index: 1; // stay on top of clearfix
}

// for height: 100% to work, the containers need to be position: absolute;
// for them to inherit the size, their parents (aka nav or ul) must be position: relative;
nav, ul { position: relative; }

nav ul::before { // main "border"
    // using a border doesn't work because of a mismatch in how
    // pixels are rounded when refering to a border vs a width
    content: '';
    display: inline-block;

    width: $a;
    background: $color;
    position: absolute; height: 100%;
    // normally, instead of a clearfix, we'd use calc(100% - $x) but if 100%
    // is in a calc, it refers to its own width, rather than the parent's height
}

nav ul::after { // cleafix for overextended tail of the main border
    content: '';
    display: inline-block;
    width: $a;
    height: $x;
    background: #fff;
    position: absolute; bottom: 0; // it's at the end of the main border
}

// give text margins, so it doesn't stick to the main border
// then undo them for the pseudo element, so it does stick to the main border
// since $t + (-$t) = 0, everything will be aligned;
// and since the size of the box + the width of the border + the text offset is
// the full offset of the text from the parent container, it's pretty
$t: $x + $y + $a;
nav ul > li {
    margin-left: $t;
    &::before {
        margin-left: -$t;
    }
}
