{% extends "pages/favs/base.html" %}

{% block page_inline_css %}
  {# {{ macros::inline_css(path="/song.css") }} #}
{% endblock page_inline_css %}

{% block content %}
<header>
  <h1 id="title">{{ page.title }}</h1>

  <h2 class="artist">
    {{ page.taxonomies.artist | first }}
    {% if page.extra.featuring %}
      <span class="featuring">ft {{ page.extra.featuring }}</span>
    {% endif %}
  </h2>

  <p class="timeframe">[{{ page.extra.timeframe }}]</p>
</header>

{{ page.content | safe }}

// Youtube embed?
{% if page.extra.link %}
<a class="undecorated content-link" href="{{ page.extra.link }}">
  Listen here ->
</a>
{% endif %}

{% endblock content %}
