/* Movie CSS */
details { margin-inline-start: 0.8rem; }
main { font-family: 'Courier New', Courier, monospace; }
header, details { font-family: var(--f); }

details > p > span.acted-by,
details > p > span.quote-by { white-space: nowrap; }

p.dialog { margin-inline: max(2rem, 100% - 60ch); }
span.character { font-weight: 601; display: block; text-align: center; }
