{% extends "base.html" %}

{% block content %}

<header>
    <h1 id="title">
        I intended to write this page but was too <span class="last-word">lazy.</span>
    </h1>
</header>

<script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="DimitarRusev" data-color="#FF5F5F" data-emoji=""  data-font="Inter" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00"></script>

<p style="margin-block-start: 2.4rem;">
    If you'd like to <em>pressure</em> me, you could:
    <br>
</p>

<ul>
    <li>Send me an email at <code style="font-size: 1rem; ">mitikodev@gmail.com</code></li>
    <li>Buy me a coffee
        <noscript>
            <a href="https://www.buymeacoffee.com/DimitarRusev" style="text-decoration: none; color: var(--color-primary);">
                https://www.buymeacoffee.com/DimitarRusev
            </a>
        </noscript>
    </li>
</ul>


{% endblock content %}
