{% extends "base.html" %}

{% block section_inline_css %}
  {{ macros::inline_css(path="/todo.css") }}
{% endblock %}

{% block content %}

<header>
    <h1 id="title">
        I intended to write this page but was too <span class="last-word">lazy.</span>
    </h1>
</header>

<p>
To support my work:<br>
Send me an email at <code style="font-size: 1rem;">mitikodev@gmail.com</code>, or
</p>

<script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="DimitarRusev" data-color="#FF5F5F" data-emoji=""  data-font="Inter" data-text="You can buy me a coffee :)" data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00"></script>
<noscript>
    You can buy me a <a href="https://www.buymeacoffee.com/DimitarRusev">coffee</a> :)
</noscript>
{% endblock content %}
