{% extends "base.html" %}

{% block content %}

<header>
    <h1 id="title">
        <span class="highlight">Whoops...</span>
        <br>
        Seems like this page doesn't exist yet!
    </h1>
</header>

<h2 class="error">Error 404</h2>

<p>
    Either you've fucked up the URL or I linked some page wrong.
    <br>
    It's a 90-10 bet so I'm willing to take my chances.
</p>


<nav style="margin-block-start: 7rem; text-align: right; font-size: 1.2em; font-weight: bold;">
    <a href="/" class="highlight">
        Home -&gt;
    </a>
</nav>

{% endblock content %}
