{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/base.css">
    {% if page.extra.tree or section.extra.tree or config.extra.tree %}
        <link rel="stylesheet" href="/components/tree.css">
    {% endif %}
    <link rel="icon" href="{{ config.extra.favicon_url }}">
    <!-- Inline Section CSS -->
    {% block section_inline_css %} {% endblock %}
    <!-- Inline Subsection CSS -->
    {% block subsection_inline_css %} {% endblock %}
    <!-- Inline Page CSS -->
    {% block page_inline_css %} {% endblock %}
    <!-- Inline Local CSS -->
    {% block inline_css %} {% endblock %}
    <title>
        {% block title %}
            {% if page.title %}
                {{ page.title }} · 
                {% set parent_path = page.ancestors | last %}
                {% set parent_section = get_section(path=parent_path, metadata_only=true) %}
                {{ parent_section.title }} · 
            {% endif %}
        {% endblock title %}
        mitiko.x
    </title>
    {% if page.extra.katex or section.extra.katex or config.extra.katex %}
        {% include 'katex.html' %}
    {% endif %}
</head>
<body>
    <main>
        {% block content %} {% endblock %}
    </main>
    <footer>
        <hr>
        <img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Transitional" height="31" width="88">
        <img src="https://cyber.dabamos.de/88x31/anarchynow.gif" alt="Anarchy" height="31" width="88">
        <img src="https://cyber.dabamos.de/88x31/antinft.gif" alt="Anti NFT" height="31" width="88">
        <img src="https://cyber.dabamos.de/88x31/gnu-linux.gif" alt="Made with Linux" height="31" width="88">
        <img src="https://cyber.dabamos.de/88x31/letsnotencrypt.gif" alt="Let's not encrypt" height="31" width="88">
        <img src="https://cyber.dabamos.de/88x31/pgp-now.gif" alt="Use PGP" height="31" width="88">
        <img src="https://cyber.dabamos.de/88x31/wip_anim.gif" alt="Web interoptability pledge" height="31" width="88">
        <img src="https://cyber.dabamos.de/88x31/transnow2.gif" alt="Trans rights" height="31" width="88">
        <img src="https://cyber.dabamos.de/88x31/donate.gif" alt="Donate" height="31" width="88">
        <img src="https://cyber.dabamos.de/88x31/gb_blueridge.gif" alt="Guestbook" height="31" width="88">
    </footer>
</body>
</html>
