{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.png">
    <!-- Inline Global CSS -->
    {{ macros::inline_css(path="/style.css") }}
    <!-- Inline Section CSS -->
    {% block section_inline_css %} {% endblock %}
    <!-- Inline Page CSS -->
    {% block page_inline_css %} {% endblock %}
    <!-- Inline Local CSS -->
    {% block inline_css %} {% endblock %}
    <title>
        {% block title %}
            {% if section.title %}
                {{ section.title }} · 
            {% endif %}
            {# TODO: Add infor about parent section #}
            {% if page.title %}
                {{ page.title }} · 
            {% endif %}
        {% endblock title %}
        mitiko.x
    </title>
</head>
<body>
    <main>
        {% block content %} {% endblock %}
    </main>
    <footer>
        <!-- TODO -->
    </footer>
</body>
</html>
