{% extends "base.html" %}

{% block content %}
<header>
  <h1 id="title">
  This is my blog made with Zola
</h1>
</header>

<h2>I have variable content on here:</h2>
<nav>
  <ul>
    <li>
      <!-- Blog <a href="{{ get_url(path="@/blog/_index.md") }}">section</a> -->
      <a href="/blog">{{ macros::highlight_last_word(string="Blog section") }}</a>
    </li>
    <li>
      <!-- Poems <a href="{{ get_url(path="@/poems/_index.md") }}">section</a> -->
      <a href="/poems">{{ macros::highlight_last_word(string="Poems section") }}</a>
    </li>
  </ul>
</nav>
{% endblock content %}
