{% extends "base.html" %}

{% block inline_css %}
  {{ macros::inline_css(path="/index.css") }}
{% endblock inline_css %}

{% block title %}
Home · 
{% endblock title %}

{% block before_content %}
<section id="cover">
  <div>
    <div id="cover-main">mitiko</div>
    <div id="cover-dot">.</div>
    <div id="cover-list">
      <span>climbs</span><br>
      <span>oats</span><br>
      <span>smokes</span><br>
      <span>drinks</span><br>
      <span>x</span>
    </div>
  </div>
</section>
{% endblock before_content %}

{% block content %}
<header>
  <h1 id="title">
    {{ section.title }}
  </h1>
</header>

{{ section.content | safe }}

{% endblock content %}
