{% macro highlight_last_word(string) %}
    {% set words = string | trim | split(pat=" ") %}
    {% set last_word = words | last %}
    {% set remaining_words = words | slice(end=-1) | join(sep=" ") %}

    {% if words | length == 1 %}
        {{ string }}
    {% else %}
    {{ remaining_words }}
    <span class="last-word">
        {% for l in last_word %}{% if l=='(' or l==')' or l=='"' or l=='.' %}<span class="undo">{{l}}</span>{% else %}{{l}}{% endif %}{% endfor %}
    </span>
    {% endif %}
{% endmacro highlight_last_word %}

{% macro highlight_first_word(string) %}
    {% set words = string | trim | split(pat=" ") %}
    {% set first_word = words | first %}
    {% set remaining_words = words | slice(start=1) | join(sep=" ") %}

    <span class="first-word">
        {% for l in first_word %}{% if l=='(' or l==')' or l=='"' or l=='.' %}<span class="undo">{{l}}</span>{% else %}{{l}}{% endif %}{% endfor %}
    </span>
    {{ remaining_words }}
{% endmacro highlight_first_word %}

{% macro inline_css(path) %}
    {% set css = load_data(path=path) %}
    <style>{{ css | safe }}</style>
{% endmacro inline_css %}

{# the zola default is bg. #}
{# the default is en. if bg & en exist, the default is bg. #}
{% macro lang(lang, translations) %}
    {% if translations | length == 1 %}
    en
    {% else %}
    {{ lang }}
    {% endif %}
{% endmacro inline_css %}
