{% macro highlight_last_word(string) %}
    {% set words = string | trim | split(pat=" ") %}
    {% set last_word = words | last %}
    {% set remaining_words = words | slice(end=-1) | join(sep=" ") %}

    {% if words | length == 1 %}
        {{ string }}
    {% else %}
    {{ remaining_words }}
    <span class="last-word">
        {% for l in last_word %}{% if l=='(' or l==')' or l=='"' or l=='.' %}<span class="undo">{{l}}</span>{% else %}{{l}}{% endif %}{% endfor %}
    </span>
    {% endif %}
{% endmacro highlight_last_word %}

{% macro inline_css(path) %}
    {% set css = load_data(path=path) %}
    <style>{{ css | safe }}</style>
{% endmacro inline_css %}
