{% extends "base.html" %}

{% block page_inline_css %}
  {% if page.extra.style %}
    {{ macros::inline_css(path=page.extra.style) }}
  {% endif %}
{% endblock page_inline_css %}

{% block content %}
<header>
  <h1 id="title">
    {{ page.title }}
  </h1>
  {% if page.extra.subtitle %}
    <h2 id="subtitle">{{ page.extra.subtitle }}</h2>
  {% endif %}
  <p id="date">{{ page.date | date(format="%b %d, %Y") }}</p>
  {% if page.draft %}
  <p id="wordcount">Word count: {{ page.word_count }}; Time: {{ page.reading_time }} mins</p>
  {% endif %}
</header>

{{ page.content | safe }}

{% endblock content %}
