{% extends "base.html" %}

{% block page_inline_css %}
  {% if page.extra.style %}
    {{ macros::inline_css(path=page.extra.style) }}
  {% endif %}
{% endblock page_inline_css %}

{% set parent_section = get_section(path=page.ancestors | last) %}

{% block content %}
<header>
  <h1 id="title">
    {{ page.title | safe }}
  </h1>

  {% if page.extra.subtitle %}
    <h2 id="subtitle">{{ page.extra.subtitle }}</h2>
  {% endif %}

  {% set include_date = page.extra.include_date or parent_section.extra.include_date %}
  {% if include_date %}
    <p id="date">{{ page.date | date(format="%b %d, %Y") }}</p>
  {% endif %}

  {% set include_meta = page.extra.include_meta or parent_section.extra.include_meta %}
  {% if include_meta %}
    <p>
      <span id="read-time">read-time: <span class="value">{{ page.reading_time }} mins</span></span> |
      <span id="word-count">word-count: <span class="value">{{ page.word_count }}</span></span>
    </p>
  {% endif %}
</header>

{{ page.content | safe }}

{% endblock content %}
