{% extends "base.html" %}

{% block content %}

<header>
  <h1 id="title">
    {{ section.title }}
  </h1>
  <hr>
</header>

{% if section.pages | length == 0 and section.subsections | length == 0 %}
<h2 class="error">Oops, this section has no articles, yet.</h2>
{% endif %}

{% if section.subsections | length > 0 %}
<h2 class="first-letter">Subsections:</h2>
<nav id="subsections">
  <ul>
  {% for subsection_path in section.subsections %}
  {% set subsection = get_section(path=subsection_path, metadata_only=true) %}
    <li>
      <a href="{{ subsection.path | safe }}">
        {{ macros::highlight_last_word(string=subsection.title) }}
      </a>
    </li>
  {% endfor %}
  </ul>
</nav>
{% endif %}

{% if section.pages | length > 0 %}
<nav>
  <ul>
  {% for page in section.pages %}
    <li>
      <a href="{{ page.path | safe }}">
        {{ macros::highlight_last_word(string=page.title) }}
      </a>
    </li>
  {% endfor %}
  </ul>
</nav>
{% endif %}

{% endblock content %}
