{% extends "base.html" %}

{% block content %}

<header>
  <h1 id="title">
    {{ section.title }}
  </h1>
</header>

{% if section.pages | length == 0 and section.subsections | length == 0 %}
<h2 class="error">Oops, this section has no articles, yet.</h2>
{% endif %}

{{ section.content | safe }}

{% for subsection_path in section.subsections %}
{% set subsection = get_section(path=subsection_path, metadata_only=false) %}
<fieldset>
  <legend>
    <h2>
      {{ macros::highlight_last_word(string=subsection.title) }}
    </h2>
  </legend>

  {% set sub_pages = subsection.pages %}
  {% if subsection.extra.sort_rev %}
    {% set sub_pages = sub_pages | reverse %}
  {% endif %}
  {# we have to slice after we (potentially) reverse the order #}
  {% set sub_pages = sub_pages | slice(end=5) %}
  <nav>
    <ul>
      {% for page in sub_pages %}
      <li>
        <a href="{{ page.path | safe }}">
          {{ macros::highlight_last_word(string=page.title) }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</fieldset>
{% endfor %}

{% if section.pages | length > 0 %}
{% set pages = section.pages %}
{% if section.extra.sort_rev %}
  {% set pages = pages | reverse %}
{% endif %}
<nav>
  <ul>
  {% for page in pages %}
    <li>
      <a href="{{ page.path | safe }}">
        {{ macros::highlight_last_word(string=page.title) }}
      </a>
    </li>
  {% endfor %}
  </ul>
</nav>
{% endif %}

{% endblock content %}
