:root {
    --t1: rgb(30, 30, 30);
    --t2: rgb(75, 75, 75);
    --c1: hsl(177, 100%, 28%);
    --c2: hsl(283, 81%, 43%);
    --f: sans-serif;
}

body, html { margin: 0; padding: 0; }
body { font-family: var(--f); font-variant-numeric: slashed-zero tabular-nums; }
main {
    --p: 0.9rem;
    padding-inline: var(--p);
    width: min(70ch, 100% - 2 * var(--p));
    margin-inline: auto;
}
footer { padding-block: 1rem; } /* TODO */

header { margin-block: 1.2rem 3.2rem; }
header > h1#title + h2#subtitle { color: var(--t2); }
header > p#date { font-size: 1.1em; font-weight: 600; color: var(--c1); margin-block-start: -0.4rem; }

h1 { margin-block: 0 1.0rem; font-size: 2.4em; font-weight: 600; }
h2 { margin-block: 0 0.8rem; font-size: 1.8em; font-weight: 300; }
h3 { margin-block: 0 0.6rem; font-size: 1.6em; font-weight: 500; }
h4 { margin-block: 0 0.6rem; font-size: 1.3em; font-weight: 700; margin-inline-start: 0.5rem; }

/* negative margin to make SUBtitles and use the same margin-block-end as the title */
h1 + h2 { margin-block: -0.8rem 1.0rem; }
h2 + h3 { margin-block: -0.6rem 0.8rem; }
h3 + h4 { margin-block: -0.4rem 0.6rem; }

p + h2, blockquote + h2, ul + h2,
p + h3, blockquote + h3, ul + h3,
p + h4, blockquote + h4, ul + h4 { margin-block-start: 1.4rem; }
p { line-height: 1.4; color: var(--t1); }

nav { font-size: 1.2em; }
#sources + ul { margin-block-end: 0.4rem; color: var(--t2); font-style: italic; word-wrap: break-word; }
li { margin-block-end: 0.3rem; }
nav > ul > li { margin-block-end: 0.75rem; }
nav > ul > li > a { width: 100%; color: var(--t1); text-decoration: underline transparent; transition: text-decoration-color 0.5s; }
nav > ul > li > a:hover { text-decoration-color: var(--c1); text-underline-offset: 0.2rem; }

blockquote { border-inline-start: 3px solid var(--c1); border-radius: 5px; padding-inline: 0.6rem; margin-inline: 0.4rem; font-size: 1.2em; }
blockquote > p { color: var(--t2); }

details { margin-block: 1rem; }
details ::selection { background-color: var(--c2); }
details > summary { cursor: pointer; border-left: 1rem solid transparent; }
details > summary::before { content: ''; margin-inline: 0.1rem; } /* hack for adding a margin */
details[open] { border-left: 0.2rem solid var(--c1); padding-left: 0.8rem; }
details[open] > summary { border-left: none; }

fieldset { border: 2px solid var(--c2); border-radius: 6px; margin-block: 2rem; }
/* fieldset + fieldset { margin-block-start: 2rem; } */
fieldset > legend { padding-inline: 0.3rem; font-size: 0.85em; }
fieldset > legend > h2 { margin: 0; }
fieldset > nav > ul > li::marker { content: '\00BB\0020'; }

img { display: block; max-width: 100%; margin: 2rem auto; border-radius: 6px; }
img[src$=".svg"] { max-width: 20rem; border: none; }
svg { display: block; max-width: 100%; margin-inline: auto; }

pre { padding: 0.8rem; overflow-x: auto; border: 1px solid rgba(0,0,0,0.15); border-radius: 6px; color: var(--t2) !important; }
pre ::selection { background-color: var(--c2); }
pre[data-linenos] tr > td:first-child { padding-right: 0.6rem; }
p > code { white-space: nowrap; }

table td, table th { border: 1px solid #000; padding: 0.4rem; }

span.katex-display { overflow: auto hidden; }

strong { font-weight: 600; }
span.last-word { color: var(--c1); }
span.last-word > span.undo { color: var(--t1); }
.error { color: hsl(0, 100%, 69%); }
::marker { color: var(--c1); }
::selection { background-color: var(--c1); color: #fff; }
